<div *ngIf="binding">
	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label>Add Dates:</label>
				<input type="date" class="form-control" #dateInput>
			</div>
			<button class="btn btn-success" (click)="binding.dates.push(dateInput.value)">Add</button>
		</div><!--col-xs-3-->
		<div class="col-xs-9 left-bordered-col">
			<div><label>Added Dates:</label></div>
			<div class="date-pill btn-group" *ngFor="let date of binding.dates">
				<button type="button" class="btn btn-default">{{date}}</button>
				<button type="button" class="btn btn-danger" (click)="removeDate(date)"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
			</div>
		</div><!--col-xs-9-->
	</div><!--row-->
	<hr/>
	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label>Add Timings:</label>
				<input type="time" class="form-control" #timeInput>
			</div>
			<button class="btn btn-success" (click)="binding.timings.push(timeInput.value)">Add</button>
		</div><!--col-xs-3-->
		<div class="col-xs-9 left-bordered-col">
			<div><label>Added Timings:</label></div>
			<div class="date-pill btn-group" *ngFor="let time of binding.timings">
				<button type="button" class="btn btn-default">{{time}}</button>
				<button type="button" class="btn btn-danger" (click)="removeTime(time)"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
			</div>
		</div><!--col-xs-9-->
	</div><!--row-->
	<hr/>
</div>