<h1>Bind Movies to Theatre</h1>
<hr />
<div class="row">
	<div class="col-xs-3">
		<div class="form-group">
			<label for="citySearch">Select city:</label>
			<select class="form-control" id="citySearch" name="citySearch">
				<option selected>Select City</option>
				<option>Dummy1</option>
				<option>Dummy2</option>
				<option>Dummy3</option>
				<option>Dummy4</option>
			</select>
		</div>
	</div><!--col-xs-3-->
	<div class="col-xs-9 left-bordered-col">
		<div>
			<label>Select Theatre:</label>
		</div>
		<div class="theatre-pill btn-group">
			<button type="button" class="btn btn-default">Dummy Theatre</button>
			<button type="button" class="btn btn-default">Dummy Location</button>
		</div>
		<div class="theatre-pill btn-group">
			<button type="button" class="btn btn-default">Dummy Theatre</button>
			<button type="button" class="btn btn-default">Dummy Location</button>
		</div>
		<div class="theatre-pill btn-group">
			<button type="button" class="btn btn-default">Dummy Theatre</button>
			<button type="button" class="btn btn-default">Dummy Location</button>
		</div>
		<div class="theatre-pill btn-group">
			<button type="button" class="btn btn-default">Dummy Theatre</button>
			<button type="button" class="btn btn-default">Dummy Location</button>
		</div>

		<div>
			<label>Select Movie:</label>
		</div>
		<div class="theatre-pill btn-group">
			<button type="button" class="btn btn-default">Dummy Movie Title</button>
			<button type="button" class="btn btn-default">Dummy Year</button>
		</div>
		<div class="theatre-pill btn-group">
			<button type="button" class="btn btn-default">Dummy Movie Title</button>
			<button type="button" class="btn btn-default">Dummy Year</button>
		</div>
		<div class="theatre-pill btn-group">
			<button type="button" class="btn btn-default">Dummy Movie Title</button>
			<button type="button" class="btn btn-default">Dummy Year</button>
		</div>
		<div class="theatre-pill btn-group">
			<button type="button" class="btn btn-default">Dummy Movie Title</button>
			<button type="button" class="btn btn-default">Dummy Year</button>
		</div>
	</div>
</div>