<h1>Add Cities</h1>
<hr />
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" class="form-control" [(ngModel)]="newCity.name">
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-success form-control" (click)="addCity(newCity)">Add</button>
	</div>
</div>
<hr />
<div>
	<label >Added Cities:</label>
</div>
<div *ngIf="cities.length === 0">
	<p>No cities added</p>
</div>
<div *ngFor="let city of cities">
	<div class="city-pill btn-group">
		<button type="button" class="btn btn-default">{{city.name}}</button>
		<button type="button" class="btn btn-danger" (click)="removeCity(city)"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
	</div>
</div>
