.jumbotron{
	margin-top: -20px;
	padding-bottom: 0px;

	text-align: center;
	color: white;

    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.45) ), url('../../assets/images/cinema.jpg');
	background-size: cover;
}

ul.nav{
	li a{
		color: white;

		&:hover{
			color: #333;
		}
	}

	li.active a{
		color: #333;
	}
}