<div class="jumbotron">
	<div class="container">
		<h1>Theatres</h1>
		<p>Add Theatres And Manage Theatre Bindings</p>
		<ul class="nav nav-tabs" role="tablist" (click)="switchTabs($event)">
			<li role="presentation" class="active"><a href="#cities" role="tab">Add Cities</a></li>
			<li role="presentation"><a href="#theatres" role="tab">Add Theatre</a></li>
			<li role="presentation"><a href="#movies-to-theatre" role="tab">Bind Movies To Theatres</a></li>
		</ul>
		<!-- Nav tabs -->
	</div>
</div>

<div class="container">
	<div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="cities">
				<app-add-cities></app-add-cities>
			</div>
			<div role="tabpanel" class="tab-pane" id="theatres">
				<app-add-theatres></app-add-theatres>
			</div>
			<div role="tabpanel" class="tab-pane" id="movies-to-theatre">
				<app-movies-to-theatre></app-movies-to-theatre>
			</div>
		</div>
		<!-- Tab panes -->
	</div>
</div>