<div id="date-time-select">
	<div id="date-select">
		<div class="container">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default">01/03</button>
				<button type="button" class="btn btn-default">02/03</button>
				<button type="button" class="btn btn-default">03/03</button>
			</div>
		</div>
	</div>

	<div id="time-select">
		<div class="container">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<div class="col-xs-2">
							Vinay Theatre
						</div>
						<div class="col-xs-10">
							<div class="btn btn-default">01:00PM</div>
							<div class="btn btn-default">02:00PM</div>
							<div class="btn btn-default">03:00PM</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
