<div class="container">
	<div class="row">
		<div id="seats-container" class="col-xs-8">
			<h5><b>SOFA Rs.240</b></h5>
			<table class="table">
				<tr *ngFor="let row of rows  | slice:0:2">
					<td><b>{{row}}</b></td>
					<td *ngFor="let col of columns">
						<app-seat [row]="row" [col]="col" [seatClass]="'SOFA'"></app-seat>
					</td>
				</tr>
			</table>
			<h5><b>GOLD Rs.180</b></h5>
			<table class="table">
				<tr *ngFor="let row of rows  | slice:2:6">
					<td><b>{{row}}</b></td>
					<td *ngFor="let col of columns">
						<app-seat [row]="row" [col]="col" [seatClass]="'GOLD'"></app-seat>
					</td>
				</tr>
			</table>
			<h5><b>ECONOMY Rs.120</b></h5>
			<table class="table">
				<tr *ngFor="let row of rows  | slice:6">
					<td><b>{{row}}</b></td>
					<td *ngFor="let col of columns">
						<app-seat [row]="row" [col]="col" [seatClass]="'ECONOMY'"></app-seat>
					</td>
				</tr>
			</table>
		</div><!--col-xs-8-->

		<div class="col-xs-4">
			<div class="form-group">
				<label>Number of seats:</label>
				<select class="form-control" [value]="this.seatsService.seatsLimit" (change)="changeSeatsLimit($event)">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
			<div class="form-group">
				<label>Date:</label>
				<select class="form-control">
					<option value="May 05, 2017">May 05, 2017</option>
					<option value="May 06, 2017">May 06, 2017</option>
				</select>
			</div>

			<div class="page-header">
				<h4>Order Summary <small>*taxes apply</small></h4>
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div><!--col-xs-4-->
	</div><!--row-->
</div>