/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Pacifico');

$grey: #f4f4f4;
$red: #c02c39;

body{
	padding-bottom: 30px;
}

a.navbar-brand{
	font-family: 'Pacifico', cursive;
}
