<div class="jumbotron">
	<div class="container">
		<h2 class="pull-right"><span class="glyphicon glyphicon-heart"></span> <b>4.3</b></h2>
		<h2><b>Guardians of the Galaxy vol.2</b></h2>
		<div class="btn-group">
			<button type="button" class="genre btn btn-default btn-xs">Fantasy</button>
			<button type="button" class="genre btn btn-default btn-xs">Adventure</button>
			<button type="button" class="genre btn btn-default btn-xs">Action</button>
		</div>

		<h4><span class="glyphicon glyphicon-time"></span> 2 hrs 16 mins</h4>
	</div>
</div>

<router-outlet></router-outlet>